*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $main-font;
    min-height: 100vh;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    color: $bk-dc;
    text-decoration: none;
}