*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $main-font;
    min-height: 100vh;
}
img{
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}
.my-4{
    margin-top: 4px;
    margin-bottom: 4px;
}